@font-face {
  font-family: 'username';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-55-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'button';
  src: url('@/assets/fonts/AlibabaPuHuiTi-3-55-Regular.woff') format('woff');
  font-display: swap;
}

/* 正文样式，使用普通字体 */
/* Regular 字体 */
@font-face {
  font-family: 'moon';
  src: url('@/assets/fonts/LXGWWenKai-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Light 字体 */
@font-face {
  font-family: 'moon';
  src: url('@/assets/fonts/LXGWWenKai-Light.woff2') format('woff');
  font-weight: 300; /* 或者根据需要使用具体的权重值，如 100 */
  font-display: swap;
}

/* Bold 字体 */
@font-face {
  font-family: 'moon';
  src: url('@/assets/fonts/LXGWWenKai-Bold.woff2') format('woff');
  font-weight: bold;
  font-display: swap;
}

/* woff2 网页字体 */
@font-face {
  font-family: 'coding';
  src: url('@/assets/fonts/JetBrainsMono-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: italic;
}
