# 基础依赖
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
# 模型处理
ultralytics==8.0.113
# RKNN转换核心库
rknn_toolkit2==2.3.2
# 图像处理
opencv-python==4.8.0.74
Pillow==10.0.0
# 工具类
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
psycopg2-binary==2.9.9
nacos-sdk-python==2.0.9
minio==7.2.0
python-magic==0.4.27
numpy==1.26.4
# 提供标准化健康检查端点
py-healthcheck==1.10.0
# 网卡探测
netifaces==0.11.0